@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

html,body {
  height: 100%;
}
.App {
  text-align: center;
  height:100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.background{
  color: darkslategray;
}
.header-title{
  background-color: rgb(175, 21, 21);
  height: '200px';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 position: fixed;
 z-index: 9999;
  width: 100vw;
  background-color: rgba(9, 5, 26, 0.87);
  min-height: 10vh;
  display: flex;
 justify-content: space-between;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  text-decoration:none ;
  padding: 0 40px;
}
.name{
  margin-left:1rem;
}
.main-nav ul{
  display:flex;
  margin:0;

  padding: 0;
  list-style:none;

}
.main-nav a{
  color:inherit;
  text-decoration:none;
  padding: 1rem;
}


.main-nav a:hover{
  color:#adadad;
}
.codeforce a{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 1000;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 0.5px;
  color:#fff; 
  text-decoration:none;
}

.codeforce-jr a{
  
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 800;
  font-style: italic;
  word-spacing: 4px;
  letter-spacing: 0.5px;
  color:#fff; 
 
}
.imagee {
  height:120px;
  width:120px;
  
}
.imagediv{
  padding-top: 100px;
}
.main-navv {
  text-align: center;
  
}
.main-navv ul{
  
  margin:0;
  
  padding: 0;
  padding-top: 40px;
  list-style:none;

}

.main-navv li:last-child a {
  border-bottom: 2px solid #fff;
}

.main-navv li {
  display: block;

}

.main-navv li a {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  font-size: 16px;
  font-weight: 1000;
  
  color: #fff;
  width: 100%;
  transition: all 0.5s;
  border-top: 2px solid #fff;
  text-decoration:none;
}

.main-navv li:hover a,
.main-navv li.active a {
  background: #fff;
  color: #8c363e;
}

.social-network {
  text-align: center;
  padding-top: 70px;
}
.social-network ul{
  margin:0;
  padding: 0;
  list-style:none;
  align-content: center;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}



.social-network li {
  display: block;
  align-content: center;
  
  padding-right: 5px;
}

.social-network li a {
  height: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 30px;
  transition: all 0.5s;
  background-color: #3f101033 ;
  text-decoration:none;
  padding-top: 3px;
}
.sliding-icon a{
  color:#fff;
}

.social-network li:hover a,
.social-network li.active a {
  background: #fff;
  color: #8c363e;
}

.App-body {
  background-color: #1d2330;
  background-image: url(backg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width:85%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  float:right;
  
}
.App-body-2{
  background-color: #a73866;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
}

.pict {
  height:200px;
  width:200px;
}

.main-wrapper{

  height: 100vh;
  font-family: 'Lato', sans-serif;
  
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 0.5px;
  width: 15%;
  position: fixed;
  background-color: #A43F49 ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  
  float:left;
  
}
.wrapper {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
  width: 85%;
  float:right;

}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; 
  width:100%;
  color: white;
  text-align: center;
  display: table;
  align-items: center;

}
.fixed-black{
  background-color:  rgba(38, 32, 56, 0.95);
  color:white;
  width:70%;
  height:60vh;
  text-align: center;
  position: relative;
  
  left:15%;
  top:20vh;
  
 
}
.fixed-black h1{
  padding-top: 4vh;
  padding-left:26vw;
  font-family: 'Lato';
  font-style:bold;
  text-align: center;
  align-items: center;
  align-content: center;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
}
.fixed{
  background-color:  rgba(38, 32, 56);
  color:white;
  width:70%;
  height:60vh;
  
  position: relative;
  left:15%;
  top:20vh;
  
 
}
.fixed h1{
  padding-top: 3vh;
  padding-left: 3vw;
  color:white;
  font-family: 'Lato';
  

}
.fixed h2{
  
  font-family: 'Lato';
  align-self: left;
}

.scroll-bg {
  background-color: #0f0f0a;
  padding: 10px 70px;
  color: #676767;
  width:100%;
}
.scroll-bg h1{
  padding-top: 8vh;
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.scroll-bg h4{
  
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

/* first section */

.bg-1 {
  background-image: url('https://images.pexels.com/photos/1370725/pexels-photo-1370725.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  
}

/* third section */

.bg-2 {
  background-image: url('iitk.jpg');
}

/* fifth section */

.bg-3 {
  background-image: url('iitk.jpg');
}

