@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body {
  height: 100%;
}
.App {
  text-align: center;
}
.background{
  color: darkslategray;
}
.header-title{
  background-color: rgb(175, 21, 21);
  height: '200px';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 position: fixed;
 
  width: 100vw;
  background-color: #5a71a8;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-body {
  background-color: #1d2330;
  background-image: url(backg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-body-2{
  background-color: #a73866;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
}

.pict {
  height:200px;
  width:200px;
}
.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 18em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 38px;
  white-space: nowrap;

  animation: typewriter 3s steps(34) 1s 1 normal both,
  blinkTextCursor 400ms steps(34) infinite normal;

}

/*

  animation-name: typewriter;
  animation-duration: 4s;
  animation-timing-function: steps(44);
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;

*/


@keyframes typewriter{
  from {
    width: 0;
  }

  to {
    width: 13em;
  }


}


@keyframes blinkTextCursor {

  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }

}
.main-wrapper{

  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
  width: 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  background-image: url('https://www.dl.dropboxusercontent.com/s/jcord1lxh30e02z/bg2.jpg');
  float:left;
  
}
.wrapper {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
  width: 75%;
  float:right;
  
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; 
  width: 100%;
  color: white;
  text-align: center;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
}

.scroll-bg {
  background-color: #0f0f0a;
  padding: 10px 70px;
  color: #676767;
  width:100%;
}

/* first section */

.bg-1 {
  background-image: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
}

/* third section */

.bg-2 {
  background-image: url('https://www.dl.dropboxusercontent.com/s/jcord1lxh30e02z/bg2.jpg');
}

/* fifth section */

.bg-3 {
  background-image: url('https://www.dl.dropboxusercontent.com/s/rsk15kp7azmsi27/bg3.jpg');
}

