.App {
  text-align: center;
}
.background{
  color: darkslategray;
}
.header-title{
  background-color: rgb(175, 21, 21);
  height: '200px';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d2330;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
}

.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 18em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 38px;
  white-space: nowrap;

  animation: typewriter 3s steps(34) 1s 1 normal both,
  blinkTextCursor 400ms steps(34) infinite normal;

}

/*

  animation-name: typewriter;
  animation-duration: 4s;
  animation-timing-function: steps(44);
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;

*/


@keyframes typewriter{
  from {
    width: 0;
  }

  to {
    width: 13em;
  }


}


@keyframes blinkTextCursor {

  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }

}

